body {
    color: #ffffff;
    background-color: #262a35 !important;
}

.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.nav-link:hover { color: #dc3545 !important; }

.table th, .table td {
    vertical-align: baseline;
}

h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 28px;
}

.form-w5 {
    margin: 0 auto;
    max-width: 500px;
}

.img-profile img {
    max-width: 345px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.table {
    border-right: 5px;}
.table tr { background-color: #3b4150; }

.table .thead-dark th {
    background-color: #dc3545;
    border-color: #32383e;
}

.card { color: #000000; text-transform: uppercase; }
.card-title {
    color: #dc3545;
    font-weight: bold;
}


.btn-success { border: 1px solid #ffffff; }

.fas { padding: 4px 0px; }

.form-profile {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    color: #000;
}

.form-profile input {
    background-color: #262a35;
    color: #FFFFFF;
}

h6 {
    color: #057e8b !important;
    border-left: 2px solid #057e8b;
    padding-left: 25px;
    margin-left: 25px;
}